{% extends "admin/base.html" %}
{% load static %}  

{% block title %}{{ title }} | {{ site_title|default:_('BikeRoutes MX Admin') }}{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <span style="font-weight: 800;">BikeRoutes MX</span> Administración
    </a>
</h1>
{% endblock %}

{% block nav-global %}{% endblock %}